# .gitignore   file
# Backend
backend/node_modules/
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Uploads (optional)
backend/uploads/
